
<div class="row">
	<div class="col-sm-4 col-sm-offset-4">
		<h1 style="text-align:center">Roomate Finder</h1>
	</div>
</div>

<% @roomates.each do |roomate| %>
	<%= roomate.firstName %>
	<%= link_to roomate.lastName, "/roomates/#{roomate.id}" %>
	<hr>
<% end %>
